## ML-Zoomcamp 
### Homework 1

How do i read data from a csv ._.

In [1]:
import numpy as np
import pandas as pd

In [2]:
## Reading csv file
data = pd.read_csv("housing.csv")

In [12]:
## Number of columns
len(data.columns)

10

In [16]:
## Columns with missing data
data.isnull().sum()

longitude               0
latitude                0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [17]:
## Number of unique values
data['ocean_proximity'].nunique()

5

In [24]:
## AVerage of ... for the houses near the bay
data.loc[data['ocean_proximity']=='NEAR BAY']['median_house_value'].mean().round()

##Alternatively i couldve used groupby righ?

259212.0

In [25]:
data.groupby("ocean_proximity")['median_house_value'].mean().round()

ocean_proximity
<1H OCEAN     240084.0
INLAND        124805.0
ISLAND        380440.0
NEAR BAY      259212.0
NEAR OCEAN    249434.0
Name: median_house_value, dtype: float64

In [26]:
data.total_bedrooms.mean()

537.8705525375618

In [29]:
data.total_bedrooms = data.total_bedrooms.fillna(data.total_bedrooms.mean())

In [30]:
data.total_bedrooms.mean()

537.8705525375617

In [36]:
data.loc[data.ocean_proximity=='ISLAND']

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
8314,-118.32,33.35,27.0,1675.0,521.0,744.0,331.0,2.1579,450000.0,ISLAND
8315,-118.33,33.34,52.0,2359.0,591.0,1100.0,431.0,2.8333,414700.0,ISLAND
8316,-118.32,33.33,52.0,2127.0,512.0,733.0,288.0,3.3906,300000.0,ISLAND
8317,-118.32,33.34,52.0,996.0,264.0,341.0,160.0,2.7361,450000.0,ISLAND
8318,-118.48,33.43,29.0,716.0,214.0,422.0,173.0,2.6042,287500.0,ISLAND

In [37]:
data.loc[data.ocean_proximity=='ISLAND'][['housing_median_age','total_rooms','total_bedrooms']]

      housing_median_age  total_rooms  total_bedrooms
8314                27.0       1675.0           521.0
8315                52.0       2359.0           591.0
8316                52.0       2127.0           512.0
8317                52.0        996.0           264.0
8318                29.0        716.0           214.0

In [39]:
x = data.loc[data.ocean_proximity=='ISLAND'][['housing_median_age','total_rooms','total_bedrooms']].values

In [44]:
## didn' know the method transpose() had an abbreviatio
xtx = x.T.dot(x)

In [47]:
## I thought the inverse was a method from the np.array ._.
np.linalg.inv(xtx)

array([[ 9.19403586e-04, -3.66412216e-05,  5.43072261e-05],
       [-3.66412216e-05,  8.23303633e-06, -2.77534485e-05],
       [ 5.43072261e-05, -2.77534485e-05,  1.00891325e-04]])

In [48]:
y = np.array([950, 1300, 800, 1000, 1300])

In [50]:
## Still suspicious about .dot for multiplying matrices
w = np.linalg.inv(xtx).dot(x.transpose()).dot(y)

In [51]:
w[-1]

5.699229455065586