## Cleaning Data Practice
First we have to read the data and understand the type of data, whether it is numeric or alphanumeric and carry out cleaning if necessary

In [1]:
import numpy as np
import pandas as pd

In [4]:
df = pd.read_csv("artists.csv")
df.head()

         Artist   Streams   Daily   As lead      Solo As feature
0         Drake  85,041.3  50.775  57,252.6  32,681.6   27,788.7
1     Bad Bunny  67,533.0  44.820  40,969.6  23,073.0   26,563.4
2  Taylor Swift  57,859.0  85.793  55,566.7  50,425.7    2,292.4
3    The Weeknd  53,665.2  44.437  42,673.3  31,164.2   10,991.9
4    Ed Sheeran  47,907.7  17.506  42,767.9  33,917.0    5,139.8

#### Notice the space in the column name "As lead" and the caps

In [7]:
df.columns = df.columns.str.lower().str.replace(' ','_')

####